.navStyle {
  background-color: #ff5722;

  color: white;
}

.jumboStyle {
  color: white;
  background: url("./assets//images/banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* about */
.aboutImageStyle {
  width: 50%;
}

/*  services style */

/* People Image Style */
.peopleImageStyle {
  width: 10em;

  border-radius: 50%;
}
